<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h3>Enter new Client:</h3>
    <form action="/client-added/@Model" method="post">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name">
      </div>
      <div>
        <label for="hair">Hair Color:</label>
        <input type="text" name="hair">
      </div>
      <div>
        <label for="phone">Phone:</label>
        <input type="text" name="phone">
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
