<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Client Added</title>
  </head>
  <body>
    <h2>@Model.GetName() has been added!</h2>
    <ul>
      <li>Hair Color: @Model.GetHairColor()</li>
      <li>Phone: @Model.GetPhone()</li>
    </ul>

    <button type="button"><a href="/">Home</a></button>
  </body>
</html>
